@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family:"Noto Sans KR", sans-serif !important;
    touch-action:pan-x pan-y;
    -webkit-text-size-adjust:100%;
}
@font-face {
    font-family:'GmarketSansMedium';
    src:url('//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'notoMedium';
    src:url('/common/font/NotoSans-Medium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

/*** footer ***/
.pc { display:block; }
.tab { display:none; }
.mo { display:none; }
div.tab { padding-top:0; }
#cmm_wrap { min-width:320px; }
.of_ct { width:100%; height:100%; object-fit:contain; }
.of_cv { width:100%; height:100%; object-fit:cover; }
.pw50 { width:50%; }
.pw100 { width:100%; }


@media all and (max-width:1480px) {
    .set { width:100%; }
    [class^="main_part"] { padding:0 20px; box-sizing:border-box; width:100%; margin-bottom:80px; }
    header .boxB .gnv_cont ul li:hover { border-bottom:3px solid #2342B5; padding-bottom:25px; }
    .grecaptcha-badge { top:130px; }
}
@media all and (max-width:1024px) {
    .pc { display:none; }
    .tab { display:block; }
    .mo { display:none; }
    .tab.mo { display:block; }
}
@media all and (max-width:719px) {
    .pc { display:none; }
    .tab { display:none; }
    .mo { display:block; }
    .tab.mo { display:block; }
}









