@charset "utf-8";

.section1 { background-position: right; }
.section2 > div > img { margin-left: auto; margin-right: auto; }
.section2, .section3, .section4, .section5, .section6, .section7 { overflow: hidden; }

@media all and (min-width : 1921px){
    .section1 { background: transparent url('/common/img/pc/new_book_guide.png') no-repeat top right/cover; }
}

@media all and (max-width : 1480px){
    #new_cmm_sub { padding-top: 110px; }
    .section2, .section3, .section4, 
    .section5, .section6, .section7 { padding: 100px 20px; box-sizing: border-box; }

    .section2 > div { width: 100%; }
    .section2 > div > img { width: 100%; max-width: 550px; }
    .section2 .s2_grid_item { width: 100% !important; }
    .section2 .s2_grid_item .text { width: 100%; }
    .s2_grid_item .dd_table { width: 100%; }

    .section4 > div { width: 100%; }
    .section4 > div > div > img { width: 100%; }
    .section4 .s4_container { width: 100%; }
    .s4_item { margin-bottom: 0; padding: 25px 36px; }
}

@media all and (max-width : 1024px){
    #new_cmm_sub { padding-top: 55px; }
    .section1 { height: 582px; background-image: url('/common/img/tab/new_book_guide.png'); background-size: cover; background-position: top right; }
    .section1 button, .section5 button { width: 170px; height: 45px; line-height: 45px; font-size: 14px; }
    .section2, .section3, .section4, 
    .section5, .section6, .section7 { padding: 60px 20px; box-sizing: border-box; }
    .title { margin-bottom: 24px; font-size: 24px;  word-break: keep-all; }
    .title + p { margin-bottom: 40px; font-size: 14px !important;  word-break: keep-all; }

    .section2 .s2_grid_item { margin-top: 40px !important; flex-direction: column; padding: 27px 30px 24px; height: auto !important; }
    .section2 .s2_grid_item .icon_box { width: 34px; height: 34px; margin: 0 0 10px 0; }
    .section2 .s2_grid_item .icon_box > img { width: 100%; object-fit: contain; }
    .section2 .s2_grid_item .sub_title { font-size: 20px; margin-bottom: 13px; }
    .section2 .s2_grid_item .point { margin-bottom: 8px; font-size: 16px; line-height: 24px; }
    .section2 .s2_grid_item .point::before { top: 57px; left: 0; }
    .section2 .s2_grid_item p { font-size: 14px; word-break: keep-all; }
    .section2 > div > img { margin-bottom: 38px; max-width: 320px; }

    .s2_grid_item .dd_table th, .s2_grid_item .dd_table td { line-height: 45px; vertical-align: middle; }
    .s2_grid_item .dd_table td { padding: 13px 5px; font-size: 14px; line-height: 20px; word-break: keep-all; }
    .s2_grid { margin-top: 16px !important; grid-template-columns: repeat(1, 2fr) !important; grid-gap: 16px; }
    .s2_grid .s2_grid_item { margin-top: 0px !important; }

    .section3 .course_container { margin-left: 13px; width: 320px; height: 446px; box-shadow: 0px 10px 30px #67676726; }
    .section3 .course_info { width: 320px; height: 446px; padding: 40px 10px; }
    .section3 .course_info > img { padding: 0 20px; width: 100%; height: 155px; object-fit: cover; box-sizing: border-box; }
    .section3 .course_info .course_title { margin: 24px 0 11px; height: 56px; font-size: 18px; line-height: 30px; }
    .section3 .course_info .course_title + p { font-size: 14px; line-height: 25px; }
    .section3 .course_info button { margin-top: 30px; width: 170px; height: 45px; line-height: 45px; font-size: 14px; }
    .section3 .course_info:not(:last-child) { margin-right: 55px; }
    .section3 .courseLeft, .section3 .courseRight { display: none; }
    /*
    .section3 ul { margin: 24px auto 40px; height: 8px; }
    .section3 ul > li { position: relative; top: -8px; display: inline-block; margin: 0 6px; }
    .section3 ul > li > span { display: block; width: 8px; height: 8px; border-radius: 50%; background: #FAF4E4; cursor: pointer; }
    .section3 ul > li.on > span { background: #EBAE24; }
    */
    .section3 button { margin-top: 0; width: 170px; height: 45px; line-height: 45px; font-size: 14px; }

    .section4 { padding-bottom: 40px; }
    .section4 .tab { padding-top: 0; }
    .section4 ul { margin-top: -10px; display: flex; justify-content: center; align-items: flex-start; }
    .section4 ul > li { margin: -23px 0px 24px; width: 166px; display: flex; align-items: center; flex-direction: column; }
    .section4 ul > li > img { display: inline-block; margin-bottom: 16px; width: 220px; height: auto; }
    .section4 ul > li > p { margin-top: -60px; margin-bottom: 0; width: 100%; font-size: 16px; font-weight: 700; text-align: center; }

    .section4 .faq_category_box div { margin-right: 10px; padding: 0 19px; height: 35px; line-height: 35px; font-size: 14px; }
    .faq_category_box .faqOn { }
    .section4 .s4_container { margin-top: 20px; }
    .section4 .s4_item { padding: 18px 20px; border-radius: 8px; }
    .section4 .s4_fix { padding-left: 25px; font-size: 16px !important; }
    .section4 .s4_fix img { display: none; }
    .section4 .s4_fix::before {  top: 3px; width: 20px; height: 20px; content: ""; background: url('/common/img/ico/q_bg.png') no-repeat center/contain; display: block; }
    .s4_view { font-size: 14px; }
    .s4_view dl:first-of-type { padding-top: 20px; margin-top: 20px; }

    .section4 { padding-bottom: 60px; }
    .section4 > div { width: 100%; }
    .section4 .title + p { margin-bottom: 30px; }
    .section4 .tab { padding-top: 0; }
    .section4 ul { display: flex; justify-content: center; align-items: stretch; flex-wrap: wrap; margin: -10px auto; width: 600px; }
    .section4 ul > li { margin: -23px 0px 24px; width: 155px; display: flex; align-items: center; flex-direction: column; }
    .section4 ul > li > img { display: inline-block; margin-bottom: 16px; width: 220px; height: auto; }
    .section4 ul > li > p { margin-top: -60px; width: 100%; font-size: 16px; font-weight: 700; text-align: center; }
    .section4 ul > li:nth-child(4),
    .section4 ul > li:nth-child(5) { margin-top: -40px; }

    .section5 { padding: 83px 20px; height: auto; }
    .section7 button { width: 170px; height: 45px; line-height: 45px; font-size: 14px; }
}

@media all and (max-width : 719px){
    .section1 { padding: 0px 10px; background-image: url('/common/img/mo/new_book_guide.png'); background-position: top center; box-sizing: border-box; }

    .section2 > div > img { margin: 0 auto; max-width: 322px; }
    .s2_grid_item .dd_table { overflow-x: scroll; }
    .s2_grid_item .dd_table table { width: 700px; }
    .s2_grid_item th:first-child { width: 114px !important; }

    .section3 > div { width: 100%; }
    .section3 .course_container { margin-left: 0; left: 50%; transform: translate(-50%,0); }

    .section4 ul > li > p { word-break: keep-all; }
    .section4 ul { position: relative; width: 310px; }
    .section4 ul > li { width: 155px; }
    .section4 ul > li:nth-child(3),
    .section4 ul > li:nth-child(4),
    .section4 ul > li:nth-child(5) { margin-top: -36px; }
    .section5 { padding: 70px 20px 60px; }
    .section5 button { width: 170px; height: 45px; line-height: 45px; font-size: 14px; }
}

@media all and (max-width : 610px){
    .section4 #faq1-1_view dt { float: unset; }

}

@media all and (max-width : 370px){
    .section4 ul { position: relative; left: 50%; transform: translate(-50%,0); }
}


/** g_Swiper **/
.swiper-pagination-clickable .swiper-pagination-bullet { background: transparent; opacity: 1; margin: 0 !important; position: relative; padding: 6px !important; }
.swiper-pagination-clickable .swiper-pagination-bullet:before { 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 8px; height: 8px; background:#FAF4E4 !important; border-radius: 50%; display: block; content: "";
}
.swiper-pagination-clickable .swiper-pagination-bullet-active { background: transparent; }
.swiper-pagination-clickable .swiper-pagination-bullet-active:before { background: #EBAE24 !important; }

.section3 .title + p { margin-bottom: 30px; }
.section3 button { margin-top: 24px; }
.g_Swiper { margin-bottom: 35px; width: 1430px; padding: 40px; }
.g_Swiper li { width: 430px !important; padding: 41px; opacity: 0.5; border-radius: 4px; box-sizing: border-box; text-align: center; }
.g_Swiper li > img { border-radius: 10px; height: auto; overflow: hidden; object-fit: cover; }
.g_Swiper li.swiper-slide-active { box-shadow: 0px 10px 30px #67676726; opacity: 1; }
.g_Swiper li > .c_title { margin: 45px auto 16px; font-size: 24px; line-height: 1.8; font-weight: 700; }
.g_Swiper li > .c_text { margin-bottom: 44px; font-size: 16px; letter-spacing: -0.45px; line-height: 1.8; }
.g_Swiper li > a { display: inline-block; width: 196px; line-height: 59px; font-size: 16px; background: #FAF4E4; color: #EBAE24; border-radius: 4px; }
.g_btn_wrap { position: absolute; top: calc(50% - 65px); left: 50%; z-index: 9; transform: translate(-50%,-50%); width: 430px !important; height: 0; }
.g_prev { left: -65px; width: 129px; height: 129px; }
.g_next { right: -65px; width: 129px; height: 129px; }
.g_pg { display: none; }
@media all and (max-width : 1024px){
    .section3 > div { position: relative; }
    .section3 .title + p { margin-bottom: 0; }
    .g_Swiper { margin: 40px auto 48px; padding: 0; width: 320px; box-shadow: 0px 5px 15px #67676726; }
    .g_Swiper li.swiper-slide-active { box-shadow: none !important; }
    .g_Swiper li { width: 320px !important; padding: 40px 30px; opacity: 1; }
    .g_Swiper li.swiper-slide-active { box-shadow: 0px 5px 15px #67676726; }
    .g_Swiper li > img { width: 120px; }
    .g_Swiper li > .c_title { margin: 24px -20px 11px; font-size: 18px; line-height: 30px; height: 60px; word-break: keep-all; }
    .g_Swiper li > .c_text { margin-bottom: 30px; font-size: 14px; line-height: 25px; word-break: keep-all; height: 75px; justify-content: center; align-items: center; display: flex; }
    .g_Swiper li > a { width: 170px; line-height: 45px; font-size: 14px; }
    .g_btn_wrap { display: none; top: calc(50% - 40px); width: 400px !important; height: 0; }
    .g_prev { left: 0px; width: 80px; height: 80px; }
    .g_next { right: 0px; width: 80px; height: 80px; }
    .g_pg { display: block; bottom: 78px !important; }
}
@media all and (max-width : 470px){
    .g_Swiper { margin: 20px auto 82px; width: 280px; }
    .g_Swiper li { width: 280px !important; /*padding: 20px*/; }
    .g_Swiper li > img { width: 100px; }
    .g_Swiper li > .c_text { margin-bottom: 25px; height: 75px; }
    .section3 button { margin-top: -8px; }
}