@charset "utf-8";
div.pagination ul li.arrow a { background: url(/common/img/ico/sp_page.png) 0 0 #f0f0f0 no-repeat }
div.pagination ul li.prev a { background-position: 0 -43px; }
div.pagination ul li.next a { background-position: 1px -93px; }
div.pagination ul li.begin a { background-position: 0 7px; }
div.pagination ul li.end a { background-position: 1px -143px; } 

@media all and (max-width : 1480px){
    #new_cmm_sub { padding: 0 20px; }
    .title { font-size: 28px; }
    .title img { position: relative; top: -3px; margin-right: 10px; }
    .select { margin-bottom: 30px; }
    .select a { border-right: 0; height: 58px; line-height: 58px; }
    .select a:last-child { border-right: 1px solid #ddd; }

    .th_border { display: none; }
    .list table.qna_table tr th { position: relative; }
    .list table.qna_table tr th::after { position: absolute; top: 50%; right: 0; transform: translate(0,-50%); width: 1px; height: 20px; background: #c4c4c4; display: block; content: ""; }
    .list table.qna_table tr th:last-child::after { display: none; }

    .write_btn { margin-top: -14px; width: 120px; height: 50px; font-size: 14px; }
}

@media all and (max-width : 1024px){
    #new_cmm_sub { padding: 110px 20px 0; }
    .title { margin-bottom: 25px; }
    .select { flex-wrap: wrap; margin-bottom: 25px; }
    .select a { width: calc(50% - 2px); }
    .select a:nth-child(1) { border-bottom: 0; }
    .select a:nth-child(2) { border-right: 1px solid #ddd; border-bottom: 0; }
    .select a:nth-child(4) { border-left: 0; border-top: 1px solid #ddd; border-right: 1px solid #ddd; }

    .list table.qna_table thead { display: none; }
    .list table.qna_table, .list table.qna_table tbody { display: block; }
    .list table.qna_table tbody tr { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; padding: 15px 0; width: 100%; border-bottom: 1px solid #C4C4C4; }
    .list table.qna_table tr td { padding: 0 !important; border-bottom: 0; text-align: left; font-size: 14px; }  
    .list table.qna_table tr .sub { margin: 10px 0 0px; font-size: 18px; display: flex; align-items: center; }
    .list table.qna_table tr .sub > img { margin-left: 4px; }
    .list table.qna_table tr td:last-child { margin-top: 14px; }
    .list table.qna_table tr td:last-child > * { text-align: center; margin: 0; width: 50px; height: 26px; line-height: 26px; font-size: 14px; }

    .qna_table textarea { height: 350px; }

    .write_btn { margin-top: 40px; width: 200px; }
}

@media all and (max-width : 719px){
    div.pagination ul li a { min-width: 20px; height: 20px; line-height: 20px; }
    div.pagination ul li.prev a { background-position: -2px -44px; }
    div.pagination ul li.next a { background-position: 0px -94px; }
    div.pagination ul li.begin a { background-position: -2px 6px; }
    div.pagination ul li.end a { background-position: 0px -144px; } 

    div.pagination ul li.prev a:focus, div.pagination ul li.prev a:hover { background-position: -3px -44px }
    div.pagination ul li.next a:focus, div.pagination ul li.next a:hover { background-position: 1px -94px }
    div.pagination ul li.begin a:focus, div.pagination ul li.begin a:hover { background-position: -3px 6px }
    div.pagination ul li.end a:focus, div.pagination ul li.end a:hover { background-position: 1px -144px }

    .brd_impression .list tbody tr { padding: 15px 0; }
    .brd_impression .list tbody td:nth-child(1) { display: block; }
    .brd_impression .list tbody td:nth-child(2) { display: flex; }
    .brd_impression .list { float: unset; }

    .write { width: 100%; }
    .write_btn { margin-top: 50px; width: 100%; }
}



/*** view ***/
div.board_view div.view_paging > dl.prev > dt { background: url("/common/img/ico/ico_view_prev.gif") 30px 50% no-repeat; }
div.board_view div.view_paging > dl.next > dt { background: url("/common/img/ico/ico_view_next.gif") 30px 50% no-repeat; }
div.board_view .left dl:first-child { border-top: 0; }

@media all and (max-width : 1480px){
    .board_view { margin-top: 46px; }
    .board_view .subject { font-size: 24px; }
    .board_view .reg_date { margin-bottom: 4px; font-size: 14px; }
}

@media all and (max-width : 1024px){
    .board_view { margin-top: 24px; }
    .board_view .subject { font-size: 20px; }
    .board_view .left dl { padding: 15px 0; }
    .board_view .left dt { display: block; width: 100%; height: 25px; line-height: 25px; background: transparent; text-align: left; }
    .board_view .left dd { display: block; padding: 5px 0 0; width: 100%; height: 25px; line-height: 25px; text-align: left; }
    .board_view .content { padding: 16px 0 100px; }
    .board_view .content img { width: 100%; object-fit: contain; }
    .board_view .view_paging { margin-top: 0 !important; }
    .board_view .view_paging dl { padding: 15px 0; }
    .board_view .view_paging dt { display: block; padding: 0 0 0 20px !important; padding-bottom: 0 !important; height: 20px; line-height: 20px; }
    .board_view .view_paging dd { 
        display: block; padding: 4px 0 0 30px !important; width: 100%; height: 20px; line-height: 20px; box-sizing: border-box;
        display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; white-space: normal; text-align: left; line-height: 18px;
     }
    .board_view .view_paging dd > a { display: block; text-align: left; line-height: 18px; }
    div.board_view div.view_paging > dl.prev > dt { background: url("/common/img/ico/ico_view_prev.gif") 10px 50% no-repeat; }
    div.board_view div.view_paging > dl.next > dt { background: url("/common/img/ico/ico_view_next.gif") 10px 50% no-repeat; }
    .board_view .button { margin-top: 5px; }
    .board_view .button a { display: block; width: 100px; height: 45px; line-height: 45px; padding: 0; font-size: 14px; }

    .board_view .content + .subject { margin: 0 -5px 18px; padding: 7px 15px; background: #f1f1f1; border-radius: 7px; font-size: 17px; }
    .board_view .content + .subject + .reg_name { padding-left: 10px; }
    .board_view .reg_date + .content { padding-left: 10px; }
}



/*** write ***/
input.text:hover { padding-right: 14px !important; }
.write .qna_table textarea { width: 100%; box-sizing: border-box; }

@media all and (max-width : 1480px){
    .write .qna_table th { display: block; padding: 16px 15px; width: 110px; box-sizing: border-box; }
    .write .qna_table td { width: 100%; }
    .write .qna_table input { padding: 0 14px; width: 95%; height: 40px; line-height: 40px; box-sizing: border-box; }
    .write .filebox .upload-file { width: 454px; }
    .write .filebox label { padding: 8px 20px; }
    .write #atch_file1 { height: 0; }
    .write #atch_file2 { height: 0; }
}

@media all and (max-width : 1024px){
    .write .qna_table tr { display: block; padding: 12px 0; }
    .write .qna_table th { padding: 0 0 3px; background: transparent; }
    .write .qna_table td { display: block; padding: 0 !important; }
    .write .qna_table input { margin-top: 2px; width: 100%; height: 50px; line-height: 50px; }
    .write .filebox .upload-file { max-width: 332px; }
    .write .filebox label { margin: 2px 0 0 8px; padding: 13px 23px; }
    .write .btn_back a { display: block; margin: 0 5px; padding: 0; width: 98px; height: 43px; line-height: 43px; text-align: center; font-size: 14px; }
    .write .btn_submit button { display: block; margin: 0 5px; padding: 0; width: 100px; height: 45px; line-height: 45px; text-align: center; font-size: 14px; }
    div.write div.button { margin-top: 40px; } 
}

@media all and (max-width : 719px){
    .write .filebox { display: flex; justify-content: flex-start; align-items: center; }
    .write .filebox .upload-file { width: 100%; }
    .write .filebox label { flex-shrink: 0; }
}